/*?font-family: 'Roboto', sans-serif; font-family: 'Raleway', ans-serif;*/
body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

input {
  font-family: inherit;
}

/*? --- Header --- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-hero {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  align-items: center;
  flex-shrink: 0;
}

.logo-part {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-item {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.nav-studio {
  color: #404bbf;
}

.nav-studio::after {
  content: "";
  width: 100%;
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:last-child {
  margin-right: 0;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*? ---section 1--- */

.hero-title {
  background-color: #2e2f42;
  max-width: 1440px;
  margin: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: white;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  background: #4d5ae5;
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  border: none;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*? ---section 2--- */

.description {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.description-icon {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  height: 112px;
  gap: 24px;
  margin: auto;
}

.description-item {
  max-width: 264px;
  width: calc((100% - 72px) / 4);
}

.description-subtitle {
  color: var(--color-sub-title);
  margin-bottom: 8px;
}

.description-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  max-width: 264px;
}

/*? --- Section 3 - "Our Team" --- */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.our-team-item {
  padding-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-team {
  padding: 32px 0;
}

.name-team {
  margin-bottom: 8px;
  text-align: center;
}

.team-p {
  text-align: center;
}

.our-icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.our-icon-item {
  width: 40px;
  height: 40px;
}

.our-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-link:hover,
.our-link:focus {
  background-color: #404bbf;
}

.our-icon {
  fill: #f4f4fd;
}

/*? --- Section 4 - "Our Portfolio" --- */

.portfolio {
  background: #fff;
  padding: 120px 0;
}

.portfolio-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  margin: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-block-text {
  transform: translateY(0);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-block {
}

.portfolio-block-text {
  position: absolute;
  margin: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin: 8px 0;
}

.portfolio-headings {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

/*? ---  "footer" --- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-logo {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  word-wrap: break-word;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-part {
  text-decoration: none;
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  color: var(--color-footer-tx);
  max-width: 264px;
}

.footer-social {
}

.social-media-p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
}

.footer-icon-soc {
  display: flex;
  padding: 0;
  gap: 16px;
}

.our-link-foother {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-link-foother:hover,
.our-link-foother:focus {
  background-color: #31d0aa;
}

.hero-text {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.footer-subscribe {
  padding-left: 80px;
}

.footer-subscribe-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-btn {
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-btn:hover {
  background-color: #404bbf;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/*? ---  "okno" --- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.modal {
  width: 408px;
  height: 584px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  padding: 0;
  width: 24px;
  height: 24px;
  padding: auto;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;
}
.button-modal:hover,
.button-modal:focus {
  fill: #ffffff;
  
}

.button-cancel {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.model-input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-text:focus {
  border: 1px solid #4d5ae5;
}

.modal-check {
  margin-bottom: 24px;
}

.check-input {
  width: 16px;
  height: 16px;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-sp-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration-line: underline;
}

.btn-form {
  display: block;
  background: #4d5ae5;
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  border: none;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
  background-color: #404bbf;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
